<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fanpeihua.ipcdemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="standard">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".activity.SecondActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process=":remote"/>
        <activity
            android:name=".activity.ThirdActivity"
            android:configChanges="screenLayout"
            android:label="@string/app_name"
            android:process="com.fanpeihua.ipcdemo.remote"/>

        <service android:name=".activity.MyIntentService"/>
        <service android:name=".messenger.MessengerService"/>

        <activity android:name=".messenger.MessengerActivity">
        </activity>

        <service
            android:name=".aidl.BookManagerService"
            android:process=":remote"/>

        <activity android:name=".activity.BookManagerActivity">
        </activity>

        <provider
            android:name=".provider.BookProvider"
            android:authorities=".provider.BookProvider"
            android:permission="fanpeihua.PROVIDER"
            android:process=":provider">
        </provider>

        <activity android:name=".activity.ProviderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".socket.TCPClientActivity">
        </activity>
        <activity android:name=".activity.BinderPoolTestActivity">
        </activity>
    </application>

</manifest>